@charset "utf-8";

@import "normalize-scss";

@import "core/variables";
@import "core/config";
@import "core/functions";
@import "core/scaffold";
@import "core/icons";

@import "components/forms";
@import "components/buttons";

@import "styles/buttons";


body {
  padding: 30px;
}

[component] {
  &:before {
    content: attr(class);
    display: block;
    position: absolute;
    top: -50%;
    left: 0;
    font-size: 10px;
    margin-top: -15px;
  }
}

//.buttons {
//  @extend %button;
//}