/*doc

---
title: Panels
name: panel
category: layout
---

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault">Click</button>
<a class="btn btnDefault" href="trulia.com">Trulia!</a>
```

```haml_example
%button.btn.btnDefault Click
%a.btn.btnDefault{href:"trulia.com"} Trulia!
```

```css_example
small {
  margin-left: 5px;
  font-size: 85%;
}
```

```scss_example
small {
  @include panel(10px);
  font-size: 85%;
}
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
`<button>` element.
*/
/*
.panel {
  // FIX ME: revisar estilos de sombra para .device-missing
  // @extend %stretch;

  &-header,
  &-footer,
  &-bar {
    padding: $gutter;
  }
  &-bar {
    margin: -$gutter;
  }

  // Bars sizes
  &-header, &-header > &-bar { height: $panel-header-lg-size; }
  &-footer, &-footer > &-bar { height: $panel-footer-lg-size; }
  &-nav,    &-nav    > &-bar { height: $panel-nav-lg-size; }

  // Positions of body container
  &-header ~ &-body { top:    $panel-header-lg-size; }
  &-footer ~ &-body { bottom: $panel-footer-lg-size; }
  &-nav    ~ &-body { top:    $panel-nav-lg-size; }

  // Bars shadows
  // TODO: revisar estilos de sombra para .device-missing
  // .device-missing:after,
  &-header:after,
  &-footer:after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: $panel-shadow-size;
  }
  &-header:after {
    @include fade-gradient(top);
    bottom: -$panel-shadow-size;
  }
  &-footer:after {
    @include fade-gradient(bottom);
    top: -$panel-shadow-size;
  }

  // Bars border
  &-header {
    box-shadow: 0 1px 0 0 solid(rgba($tone-darker,.03));
    box-shadow: 0 1px 0 0 rgba($tone-darker,.03);
  }
  &-footer {
    box-shadow: 0 -1px 0 0 solid(rgba($tone-darker,.03));
    box-shadow: 0 -1px 0 0 rgba($tone-darker,.03);
  }
}
*/

.button {
  @extend %button;
  background: blue;
  color: #FFF;
  &:hover {
    background: darken(blue,5%);
  }
}