$include-classes:              true !default;
$include-schemas:              true !default;


$global: (
  radius:    5px,
  rounded: 100px,
);

$breakpoints: (
  xsmall:  480px,
  small:   600px,
  medium:  900px,
  large:  1200px
  xlarge: 1400px
);

$schema: (
  default: #DDDDDD,
  success: #9ACA40,
  warning: #FEBA31,
  danger:  #E63917,
  info:    #3CBBCA
);


$input: (
  class-name:  ".input",
  font-family: inherit,
  font-weight: normal,
  font-size:   1em,
  height:      3em,
  line-height: 1.4,
  border:      0 none,
  padding:     1em,
  margin:      false,
);

@function schema($schema-color:default) {
  return map-get($schema,$schema-color);
}