$button-font-family:                inherit !default;
$button-font-weight:                400     !default;
$button-font-size:                  1em     !default;
$button-text-align:                 center  !default;

$button-border-radius:              get-global(border-radius) !default;
$button-border-width:               0       !default;
$button-border-style:               none    !default;
$button-background:                 white   !default;

$button-height:                     $input-height             !default;
$button-line-height:                $input-line-height        !default;
$button-margin:                     $input-margin             !default;

$button-padding:                    (($button-height - $button-line-height) / 2) !default;

$buttons-multiline-line-height:     $input-multiline-line-height !default;
$buttons-multiline-padding-v:       $input-multiline-padding-v   !default;
$buttons-multiline-padding-h:       $input-multiline-padding-h   !default;
$buttons-multiline-padding:         $input-multiline-padding     !default;

// 1. For input.btn
// 2. Reset unusual Firefox-on-Android default style;
//    see https://github.com/necolas/normalize.css/issues/214
// 3. More consistent. Prevent gray color from <button> element

@mixin button {
  display: inline-block;
  zoom: 1;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-align: $button-text-align;
  cursor: pointer;
  position: relative;
  user-select: none;
  -mox-appearance: none;
  -webkit-appearance: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;

  font-size: $button-font-size;
  padding: 0 $button-padding;
  margin: $button-margin; // 1
  height: $button-height;
  line-height: $button-height;

  border-radius: if(is-enabled(border-radius), $button-border-radius, null);
  border-width: if(is-enabled(border-width), $button-border-width, 0);
  border-style: $button-border-style;

  background-image: none; // 2
  background-color: $button-background; // 3

  &.hover,
  &:hover,
  &.focus,
  &:focus {
    // Content here...
  }

  &.focus,
  &:focus {
    outline: 0;
  }

  &.active,
  &:active {
    // Content here...
    outline: 0;
  }

  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    pointer-events: none; // Future-proof disabling of clicks
    cursor: not-allowed;
    box-shadow: none;
    // background-image: none;
    // filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    opacity: 0.40;
  }

  // Firefox: Get rid of the inner focus border
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

.button {
  @include button;
}
// Specificity overrides
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   &.btn-block {
//     width: 100%;
//   }
// }



// Absolute Font Sizing Keywords
//
// .xx-small { font-size: xx-small; } //  9px
// .x-small  { font-size: x-small;  } // 10px
// .small    { font-size: small;    } // 13px
// .medium   { font-size: medium;   } // 16px
// .large    { font-size: large;    } // 18px
// .x-large  { font-size: x-large;  } // 24px
// .xx-large { font-size: xx-large; } // 32px

// Absolute Font Sizing Keywords
//
// .xx-small { font-size:  9px; } //  9px
// .x-small  { font-size: 10px; } // 10px
// .small    { font-size: 13px; } // 13px
// .medium   { font-size: 16px; } // 16px
// .large    { font-size: 18px; } // 18px
// .x-large  { font-size: 24px; } // 24px
// .xx-large { font-size: 32px; } // 32px

.xx-small { font-size: pem( 9); } //  9px
.x-small  { font-size: pem(10); } // 10px
.small    { font-size: pem(13); } // 13px
.medium   { font-size: pem(16); } // 16px
.large    { font-size: pem(18); } // 18px
.x-large  { font-size: pem(24); } // 24px
.xx-large { font-size: pem(32); } // 32px

// Relative Font Sizing Keywords
.smaller  { font-size: smaller;  } // 13px
.larger   { font-size: larger;   } // 19px
