<div class="docs-page">

  <aside class="docs-aside">
    <header class="docs-header">
      <h1 class="docs-title">PREY</h1>
      <p class="docs-tagline">Style guide</small>
    </header>

    <nav class="docs-nav">
      <ul class="docs-menu">
        <li><a href="#" class="docs-link">Categoria</a></li>
      </ul>
    </nav>
  </aside>

  <section class="docs-body">
    <ul class="docs-menu">
      <li><a href="#" class="docs-link">Titulo</a></li>
    </ul>
  </section>

  <footer class="docs-footer">
    <p>This documentation generated using <a href="http://github.com/trulia/hologram" class="docs-link">Hologram</a>
  </footer>

</div>
