
<div class="docs-page">

  <aside class="docs-aside">
    <header class="docs-header">
      <h1 class="docs-title">PREY</h1>
      <p class="docs-tagline">Style guide</small>
    </header>

    <nav class="docs-nav">
      <ul class="docs-menu">
      
        <li><a class="docs-link" href="layout.html">layout</a></li>
      
      </ul>
    </nav>
  </aside>

  <section class="docs-body content">
    <ul class="docs-menu">
    
      <li><a class="docs-link" href="#panel">Panels</a></li>
    
    </ul>
<h1 id="panel">Panels</h1>

<p>Button styles can be applied to any element. Typically you&#39;ll want
to use either a <code>&lt;button&gt;</code> or an <code>&lt;a&gt;</code> element:</p>
<div class="codeExample"><div class="exampleOutput"><button class="btn btnDefault">Click</button>
<a class="btn btnDefault" href="trulia.com">Trulia!</a>
</div><div class="codeBlock"><div class="highlight"><pre><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btnDefault&quot;</span><span class="nt">&gt;</span>Click<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;btn btnDefault&quot;</span> <span class="na">href=</span><span class="s">&quot;trulia.com&quot;</span><span class="nt">&gt;</span>Trulia!<span class="nt">&lt;/a&gt;</span>
</pre></div></div></div><div class="codeExample"><div class="exampleOutput"><button class='btn btnDefault'>Click</button>
<a class='btn btnDefault' href='trulia.com'>Trulia!</a>
</div><div class="codeBlock"><div class="highlight"><pre><span class="nt">%button</span><span class="nc">.btn.btnDefault</span> Click
<span class="nt">%a</span><span class="nc">.btn.btnDefault</span><span class="p">{</span><span class="ss">href</span><span class="p">:</span><span class="s2">&quot;trulia.com&quot;</span><span class="p">}</span> Trulia!
</pre></div></div></div><div class="codeExample"><div class="exampleOutput">small {
  margin-left: 5px;
  font-size: 85%;
}
</div><div class="codeBlock"><div class="highlight"><pre>small {
  margin-left: 5px;
  font-size: 85%;
}
</pre></div></div></div><div class="codeExample"><div class="exampleOutput">small {
  @include panel(10px);
  font-size: 85%;
}
</div><div class="codeBlock"><div class="highlight"><pre>small {
  @include panel(10px);
  font-size: 85%;
}
</pre></div></div></div>
<p>If your button is actually a link to another page, please use the
<code>&lt;a&gt;</code> element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
<code>&lt;button&gt;</code> element.</p>

  </section>

  <footer class="docs-footer">
    <p>This documentation generated using <a class="docs-link" href="http://github.com/trulia/hologram">Hologram</a>
  </footer>

</div>
