---
title: Welcome to Frontkit
---

.welcome
  %h1 Middleman is Watching
  %p.doc
    = link_to "Read Online Documentation", "http://middlemanapp.com/"

.list
  %h2 List
  %ul
    - data.test.list.each do |item|
      %li= item
